*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header{
    background-color: #2F4F4F;
    padding: 16px 0;
    color: antiquewhite;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
    margin-right: 16px;

}
header li a{
    color: antiquewhite;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

.teste{
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2, .articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article a,
.articles article p{
    font-family: Arial, Helvetica, sans-serif;
}

section h2{
    font-size: 32px;
}

#esportes{
    background-color: rgba(128, 255, 0, 0.562);
}

#economy{
    background-color: rgba(233, 229, 33, 0.822);
}

#tecnologia{
    background-color: rgba(0, 0, 255, 0.432);
}

#entretenimento{
    background-color: rgba(255, 0, 0, 0.479);
}



.articles article a{
    text-decoration: none;
}

.articles article a:hover{
    text-decoration: underline;
}